.tab {
    background-color: #00000025;
    touch-action: none;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 8px;
    margin: 2px 0px 0px 4px;
    user-select: none;
}

.tab_selected {
    background-color: #f7f7f7;
}

.button {
    margin-left: 4px;
    margin-right: 2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.button:hover {
    background-color: "#00000025";
}
