body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.select-none {
    user-select: none;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.cursor-ew-resize {
    cursor: ew-resize;
}

.cursor-ns-resize {
    cursor: ns-resize;
}

.z-10 {
    z-index: 10;
}

.bg-slate-500 {
    background-color: rgb(100 116 139);
}

.bg-sky-600 {
    background-color: rgb(2 132 199);
}
